@model IEnumerable<EPrescription.Entities.MedicineManufacturer>
@using EPrescription.Common
@using EPrescription.Web.Models
@{
    ViewBag.Title = "Medicine Manufacturers";
}
<div class="content-wrapper">
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Medicine Manufacturers</h3>
                <div class="box-tools pull-right">

                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-box-tool" title="Remove">
                        <i class="fa fa-times"></i>
                    </a>

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-7">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-bold text-blue">
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CompanyName)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Address)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactNumber)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedAt)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().StatusFlag)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(itemElement => item.CompanyName)</td>
                                        <td>@Html.DisplayFor(itemElement => item.Address)</td>
                                        <td>@Html.DisplayFor(itemElement => item.ContactNumber)</td>
                                        <td>@Html.DisplayFor(itemElement => item.Email)</td>
                                        <td>@item.UpdatedAt.DateFormat()</td>
                                        <td>@item.StatusFlag.StatusString()</td>
                                        <td>
                                            @if (item.StatusFlag.IsActive())
                                            {
                                               <a onclick="getDataForEdit('@item.Id')" class="btn btn-sm btn-success"> <i class="fa fa-edit"></i></a>
                                                <a data-toggle="modal" data-target="#@item.Id" class="btn btn-sm btn-danger"> <i class="fa fa-ban"></i></a>
                                                <div class="modal modal-danger fade in" id="@item.Id">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title">Confirm</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    Are you sure you want to Inactive this Company?
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                                                <a href="@Url.Action("Inactive","MedicineManufacturer",new { id=item.Id})" class="btn btn-outline">Confirm</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-5">
                        @{
                            var medicineManufacturerModel = new MedicineManufacturerModel();
                        }
                        @Html.Partial("_medicineManufacturerPartial", medicineManufacturerModel)
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("Index","Home")" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </section>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jquery-val")
    @Scripts.Render("~/bundles/ajaxCall")
    <script>
     function getDataForEdit(id) {
          var url = '@Url.Action("LoadManufacturer", "MedicineManufacturer")';
          var paramData = { id: id };
          ajaxCall(url, paramData, "renderLoadManufacturer");
    }
    function renderLoadManufacturer(data) {
        console.log(data);
        var editUrl = '@Url.Action("Edit", "MedicineManufacturer")';
            $('#manufacturerForm').attr('action', editUrl);
            $("#Id").val(data.Id);
            $("#InitialCompanyName").val(data.CompanyName);
            $("#CompanyName").val(data.CompanyName);
            $("#Address").val(data.Address);
            $("#Email").val(data.Email);
            $("#ContactNumber").val(data.ContactNumber);
            $("#submitBtn").html('<i class="fa fa-save"></i> Update');
    }
    </script>
}
