@model EPrescription.Web.Models.PrescriptionModel

<div class="content-wrapper">
    <section class="content">
        <div class="container">

            <!-- Buttons for Export and Print -->
            <div class="row text-right" style="margin-bottom: 20px;">
                <div class="col-md-10">
                    <!-- Container for the buttons aligned to the right -->
                    <div class="mb-3">
                        <!-- Export to PDF Button -->
                        <button class="btn btn-primary mr-2 no-print" id="exportToPdf">
                            <i class="fa fa-file-pdf-o"> </i> Export to PDF
                        </button>
                        <!-- Print Button -->
                        <button class="btn btn-primary no-print" onclick="printPrescription()">
                            <i class="fa fa-print"></i> Print
                        </button>
                    </div>
                </div>
            </div>

            <!-- Prescription -->
            <div class="pres-container">
                <!-- Header -->
                <div class="pres-header">
                    <div class="col-md-12">
                        <h2>DR. @Model.Doctor.Name</h2>
                        <p>@Model.Doctor.Specialty</p>
                        <p>@Model.Doctor.Degree</p>
                        <p>@Model.Doctor.Institute</p>
                    </div>
                </div>

                <!-- Body -->
                <div class="pres-body">
                    <div class="row mb-3">
                        <!-- Date -->
                        <div class="col-md-8">
                            <div class="pres-date">
                                <p><strong>Date:</strong> @(Model.Patient.CreatedAt?.ToString("dd-MM-yyyy") ?? "Not Available")</p>
                            </div>

                            <!-- RX Icon -->
                            <div class="rx">
                                <img src="~/Content/prescription/rx.png" alt="Rx" width="60" height="60" />
                            </div>
                        </div>

                        <!-- Patient Info -->
                        <div class="col-md-4">
                            <p><strong>Patient No:</strong> @Model.Patient.PatientNo</p>
                            <p><strong>Name:</strong> @Model.Patient.Name</p>
                            <p><strong>Age:</strong> @Model.Patient.Age</p>
                            <p><strong>Sex:</strong> @Model.Patient.Gender</p>
                            <p><strong>Phone:</strong> @Model.Patient.PhoneNo</p>
                            @*<p><strong>Advice:</strong> @Model.Patient.Comments</p>*@

                        </div>

                    </div>
                    <hr />

                    <!-- Medicine List -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <h4 class="border-bottom pb-2">Prescribed Medicines:</h4>

                            @if (Model.PatientMedicineList != null && Model.PatientMedicineList.Any())
                            {
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sl.</th>
                                            <th>Medicine Name</th>
                                            <th>Dosage</th>
                                            <th>Duration Unit</th>
                                            <th>Duration</th>
                                            <th>Instructions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var medicine in Model.PatientMedicineList.Select((item, index) => new { item, index }))
                                        {
                                            <tr>
                                                <td>@(medicine.index + 1)</td>
                                                <td>@medicine.item.Medicine</td>
                                                <td>@medicine.item.Dosage</td>
                                                <td>@medicine.item.DurationUnit</td>
                                                <td>@medicine.item.Duration</td>
                                                <td>@medicine.item.DosageComment</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>No medicines prescribed.</p>
                            }
                        </div>
                    </div>
                    <hr />
                    <!-- Investigation List -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h4 class="border-bottom pb-3">Investigations:</h4>
                            @if (Model.PatientInvestigationList != null && Model.PatientInvestigationList.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var investigation in Model.PatientInvestigationList)
                                    {
                                        <li class="list-group-item">@investigation.Investigation</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No investigations suggested.</p>
                            }
                        </div>
                        <div class="col-md-6">
                            <h4 class="border-bottom pb-2">Advice:</h4>
                            <p> @Model.Patient.Comments</p>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="pres-footer">
                    <div class="row">
                        <!-- Contact Info -->
                        <div class="col-md-1">
                            <div class="mb-2">
                                <i class="fa fa-medkit text-right" style="font-size: 40px; color: #fff;"></i>
                            </div>
                        </div>

                        <!-- Address Info -->
                        <div class="col-md-5">
                            <p><strong>Clinic:</strong> @Model.Clinics.FirstOrDefault().Name</p>
                            <p><strong>Phone:</strong> @Model.Clinics.FirstOrDefault().Phone</p>
                            <p><strong>Address:</strong> @Model.Clinics.FirstOrDefault().Address</p>
                        </div>

                        <!-- Additional Info -->
                        <div class="col-md-4">
                            <div>
                                <p><i class="fa fa-calendar" style="color:#fff;"></i> <strong>Off Days:</strong> @Model.Clinics.FirstOrDefault().OffDays</p>
                                <p><i class="fa fa-clock-o" style="color:#fff;"></i> <strong>Timings:</strong> @Model.Clinics.FirstOrDefault().Timings</p>
                            </div>
                        </div>

                        <!-- QR Code -->
                        <div class="col-md-2 text-center">
                            <img src="~/Content/prescription/qr.png" alt="QR Code" height="60" width="60" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script>
        function printPrescription() {
            window.print();
        }
        document.getElementById('exportToPdf').addEventListener('click', function () {
            const { jsPDF } = window.jspdf;
            const content = document.querySelector('.pres-container');
            const pdf = new jsPDF('p', 'pt', 'a4');

            html2canvas(content, {
                scale: 2,
                useCORS: true,
                logging: true
            }).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                const imgWidth = 595;
                const pageHeight = 842;
                let imgHeight = (canvas.height * imgWidth) / canvas.width;
                let heightLeft = imgHeight;
                let position = 0;
                while (heightLeft > 0) {
                    pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                    heightLeft -= pageHeight;
                    position -= pageHeight;
                    if (heightLeft > 0) pdf.addPage();
                }
                pdf.save('Prescription.pdf');
            });
        });


    </script>
}