@model EPrescription.Entities.Doctor
@{
    ViewBag.Title = "Edit";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm("AddOrEdit", "Doctor", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model=>model.Id)
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Doctor Details</h3>

                    <div class="box-tools pull-right">

                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <a href="@Url.Action("Index", "User")" class="btn btn-box-tool" title="Remove">
                            <i class="fa fa-times"></i>
                        </a>

                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Name, new { @class = "col-sm-5 control-label text-left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Degree, new { @class = "col-sm-5 control-label text-left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Degree, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Degree)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Specialty, new { @class = "col-sm-5 control-label text-left " })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Specialty, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Specialty)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Institute, new { @class = "col-sm-5 control-label text-left " })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Institute, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Institute)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RegNo, new { @class = "col-sm-5 control-label text-left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.RegNo, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.RegNo)
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Phone, new { @class = "col-sm-5 control-label text-left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </div>
                                </div> 
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Email, new { @class = "col-sm-5 control-label text-left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Website, new { @class = "col-sm-5 control-label text-left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Website, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Website)
                                    </div>
                                </div>

                            </div>
                            <!--/.col (right) -->

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Index","Medicine")" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-info pull-right">Save</button>
                </div>
                <!-- /.box-footer-->
            </div>
        }
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    </script>
}


