@using Microsoft.AspNet.Identity
@model EPrescription.Web.Models.ChangePsswordViewModel

@{
    ViewBag.Title = "Change Password";


}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
      
            @Html.HiddenFor(m => m.UserName)

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Password Change</h3>

                    <div class="box-tools pull-right">
                      
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-box-tool" title="Remove">
                            <i class="fa fa-times"></i>
                        </a>

                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        @Html.ValidationSummary(true)
                        @if (ViewBag.PasswordHistryAlert != null && ViewBag.PasswordHistryAlert != "")
                        {
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>@ViewBag.PasswordHistryAlert</strong>
                            </div>
                        }
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.OldPassword, new { @class = "col-sm-4 control-label text-left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", @type = "password", @placeholder = "Old Password" })
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-4 control-label text-left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @type = "password", @placeholder = "New Password" })
                                        @Html.ValidationMessageFor(model => model.NewPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-sm-4 control-label text-left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Confirm Password" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--/.col (right) -->

                    </div>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Index", "User")" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-info pull-right">Save</button>
                </div>
                <!-- /.box-footer-->
            </div>

        }
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
@section scripts{


    @Scripts.Render("~/bundles/jquery-val")
    <script>
    
    </script>
}





